<h1>Listing all articles</h1>
<%= link_to "create new article", new_article_path %>

<div>
    <% @articles.each do |article| %>
        <h1><%= article.title %></h1>
        <p><%= article.description %></p>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'show', article_path(article) %>
        <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "are you sure"} %>
    <% end %>
</div>